*{
    margin: 0;padding: 0;
}
html,body{
    font-size: 16px;
    font-family: cursive;
}
.container{
    position: relative;
    border: 20px solid #FAE632;
}
aside.left{
    width: 400px;
    height: 900px;
    float:left;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
aside.left section{
    margin-bottom: 25px;
}
aside.left section header{
    font-size: 20px;
    font-weight: bold;
}
aside.left .image{
    display: flex;
    justify-content: center;
}
aside.left img{
    width: 120px;
    height:120px;
    border-radius: 50%;
    border: 2px solid #FAE632;
}
aside.left div.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside.left div.skill ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
}
aside.left div.skill li{
    list-style: none;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    background-color: #FAE632;
}
aside.left ol{
    margin-left: 13px;
}
aside.right{
    height: 900px;
    padding: 20px;
    margin-left: 440px;
    background-color: #fff;
}
aside.right header{
    font-weight: bold;
    font-size: 20px;
}
aside.right section{
    margin-bottom: 20px;
}
aside.right .head{
    text-align: center;
}
aside.right .name{
    font-size: 24px;
}

aside.right article .header2{
    display: flex;
    justify-content: space-between;
}

aside.right:last-child article{
    margin-bottom: 10px;
}